<div id="background" (mouseenter)="send()">
<div id="block">
    <h2 id="projects">Projects:</h2>
    <div class="container" id="container">
        <div class="row">
            <div *ngFor="let card of cards">
                <app-card [card]="card" (cardEmit)="loadModal($event)"></app-card>
            </div>
        </div>
    </div>
    <h2 id="mprojects">Mini projects:</h2>
    <div class="container" id="container2">
        <div class="row">
            <div *ngFor="let card of cards2">
                <app-card [card]="card" (cardEmit)="loadModal($event)"></app-card>
            </div>
        </div>
    </div>
    <app-card-modal id="modal" [card]="cardModal" (close)="closeModal()"></app-card-modal>
</div>
</div>