<div id="block">
    <div class="container" id="container">
        <div class="row">
            <div id="card" class="column">
                <div id="mask" class="screen">
                    <div id="description">
                        <p id="title">ToDoApp</p>
                        <p id="tech">Angular / Spring Boot</p>
                        <a id="button" class="btn btn-outline-danger myButton" (click)="loadModal()">Learn more</a>
                    </div>
                </div>
                <img src="assets/images/img1.png" id="img" class="screen">
            </div>
        </div>
    </div>
    <div id="modal">
        <div id="x" (click)="closeModal()">&#10006;</div>
    </div>
</div>