<div class="card m-3 text-white bg-dark shadow">
  <img src={{card.img}} class="card-img-top">
    <div class="card-body">
      <p class="card-title">{{card.title}}</p>
      <p class="card-text">{{card.text}}</p>
      <div class="mb-3">
          <a class="btn btn-outline-primary" href="{{card.app}}" target="_blank" (click)="send('app')">Open app on Heroku</a>
      </div>
      <div class="mb-3">
          <a class="btn btn-outline-primary" href="{{card.repo}}" target="_blank" (click)="send('repo')">Go to project github repository</a>
      </div>
    </div>
</div>