#card {
    margin:5px;
    height:300px;
    width:300px;
    border-radius: 20px;
    background-color: rgb(40,40,40);
    box-shadow: inset -5px -5px 5px black,
        inset 5px 5px 5px rgba(255, 255, 255, 0.3),
        20px 20px 20px black;
}

#img {
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3),
    -5px -5px 5px black
}

.screen {
    top:20px;
    left:20px;
    position: absolute;
    width:270px;
    height:270px;
    border-radius: 10px;
}

#mask {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.5s;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.3),
    inset 5px 5px 5px black
}

#mask:hover {
    opacity: 1;
}

#description {
    top:50px;
    position: relative;
}

#title {
    font-size: 30px;
    margin:auto;
    text-align: center;
    color:lightcoral;
}

#tech {
    font-size: 20px;
    margin:auto;
    text-align: center;
    color:lightsalmon;
}

#button {
    position: relative;
    top:50px;
    left:80px;
}