#modal {
    top:50px;
    left:50px;
    height:1300px;
    width:1180px;
    border-radius: 20px;
    background-color: rgb(40,40,40);
    box-shadow: inset -5px -5px 5px black,
        inset 5px 5px 5px rgba(255, 255, 255, 0.3),
        20px 20px 20px black;
    position: absolute;
    z-index: 3;
}

#x {
    top:30px;
    right:30px;
    position:absolute;
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: bold;
    cursor:pointer;
}

#modal_img {
    top:50px;
    left:50px;
    position:absolute;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
#modal_img2 {
    top:50px;
    left:570px;
    position:absolute;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

#modal_title {
    top:600px;
    left:100px;
    color:blanchedalmond;
    position:absolute;
}

#modal_description {
    top:700px;
    left:100px;
    width: 980px;
    color:blanchedalmond;
    position:absolute;
}

#modal_bt1 {
    top:1000px;
    left:500px;
    position:absolute;
}

#modal_bt2 {
    top:1000px;
    left:700px;
    position:absolute;
}