<div id="background">
<div id="block">
    <div id="inner">
        <div id="i1" class="inner_anime"></div>
        <div id="i2" class="inner_anime"></div>
        <div id="i3" class="inner_anime"></div>
        <div id="i4" class="inner_anime"></div>
        <div id="i5" class="inner_anime"></div>
        <div id="i6" class="inner_anime"></div>
        <div id="i7" class="inner_anime"></div>
        <div id="i8" class="inner_anime"></div>
        <div id="i9" class="inner_anime"></div>
        <div id="i10" class="inner_anime"></div>
        <div id="inner2">
            <div id="text">
                <h1 style="text-align: center;">Łukasz Chajdaś</h1>
                <h2 style="text-align: center;">Junior full-stack developer.</h2>
            </div>
        </div>
    </div>
</div>
</div>