#navbar {
    height:80px;
    width:100%;
    background-color: rgb(80,80,80);
    top:0;
    position:fixed;
    z-index: 4;
}

#buttongroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.button {
  background-color: rgb(80,80,80);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px black,
   inset -2px -2px 2px  rgba(255, 255, 255, 0.3);
}

.button:hover {
  box-shadow: inset 5px 5px 5px black,
  inset -5px -5px 5px  rgba(255, 255, 255, 0.3);
}

.button:active {
  box-shadow: inset 8px 8px 8px black,
  inset -8px -8px 8px  rgba(255, 255, 255, 0.3);
}


