#background {
    height:800px;
    background-color:rgb(60,60,60);
    position: relative;
}

#block {
    height: 500px;
    width: 80rem;
    margin:auto;
    border-radius: 20px;
    background-color: rgb(40,40,40);
    box-shadow: inset -5px -5px 5px black,
        inset 5px 5px 5px rgba(255, 255, 255, 0.3),
        20px 20px 20px black;
    top:150px;
    position: relative;
}

#skills {
    text-align: center;
    margin:auto;
    width: 80rem;
    position: relative;
    top:5rem; 
    color:rgb(220,220,220);
    text-shadow: 2px 2px 2px black,
     -1px 0 rgb(102, 101, 101), 0 1px black, 1px 0 black, 0 -1px rgb(102, 102, 102);
}

#container {
    min-width:80rem;
    position:relative; 
    top:8rem; 
    left:5rem;
}